__pycache__
.pytest_cache
test_scratch.py
pet_scratch.py
store_scratch.py
report.html
style.css
.idea/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/

# Pytest
.pytest_cache/
.coverage
htmlcov/

# Ignore html report
*.html
reports/
playwright-report/
allure-results/